@import 'philly-styles/values';

.fadeIn {
  opacity: 1 !important;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events:all !important;
  // display: block !important;
}

.scroll-img-credit {
  font-style: italic;
}

.scroll-gal {
  position: relative;
  margin-bottom: 50px;

  .image-scroll {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    // @include display-flex;
    align-items: center;
    background-color: #000;
  }

  .fixedimg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    // bottom: 0;
    .scroll-img {
      left: 0;
      bottom: 0;
      right: 0;
      margin: 0 auto;
      width: 100%;

      top:50px;

  @include tablet {
    top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
    }
  }

  .scroll-img {
    pointer-events: none;
    @include transition(opacity 1.4s ease);
    position: absolute;
    opacity: 0;
    background-color: #000;

    img {
      width: 100%;

    }
  }

  .text-section {
    padding: 100vh 0;
    width: 100%;
    @include mobile {
      max-width: none;
    };
  }


.text-left, .text-right {
  margin: 0 auto;
}

  // .text-left {
  //   margin: 0 0 0 5%;
  //   float: left;
  // }
  //
  // .text-right {
  //   margin: 0 5% 0 0;
  //   float: right;
  // }

  .text {
    font-family: $philly-sans;
    position: relative;
    padding: 50px 40px 30px;
    // border-radius: 7px;
    // max-width: 500px;
    max-width: 640px;
    @include mobile {
      float: none !important;
      margin: 0 5px 0 5px !important;
    };
  }

  .text p {
    color: #eee;
    font-weight: 600;
    font-size: 18px;
    // text-shadow: 0 0 5px rgba(0,0,0,1);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  .main-head {
    padding-top: 25vh;
    max-width: 800px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    @include mobile {
      padding: 0;
      max-width: none;
    };

    .head {
      font-size: 28px;
      @include mobile {
        font-size: 25px;
        line-height: normal;
      };
    }

    .text {
      font-size: 18px;
    }
  }
}

.scroll-img-meta {
  max-width: 400px;
}

.scroll-img-caption {
  display: none;
}


// @import 'philly-styles/values';
//
//
// .fadeIn {
//     opacity: 1 !important;
//     display: block;
//     position: absolute;
//     top: 0;
//     left:0;
//     right:0;
//     bottom:0;
//     // display: block !important;
// }
//
//
// .scroll-gal {
//     position: relative;
//     margin-bottom: 50px;
//
//     .image-scroll {
//         position: absolute;
//         top: 0;
//         right: 0;
//         left: 0;
//         bottom: 0;
//         // @include display-flex;
//         align-items: center;
//         background-color: #000;
//     }
//
//     .fixedimg {
//         position: fixed;
//         top: 0;
//         left: 0;
//         right: 0;
//         // bottom: 0;
//     }
//
//     .scroll-img {
//       @include transition(opacity 1.4s ease);
//         position: absolute;
//         opacity: 0;
//         background-color: #000;
//         img {
//           width: 100%;
//           height: auto;
//           margin: auto;
//         }
//
//     }
//
//
//
//     .text-section {
//         padding: 100vh 0;
//         width: 100%;
//
//         @include mobile {
//             max-width: none;
//         };
//     }
//
// .text-left {
//   margin: 0 0 0 5%;
//   float: left;
// }
//
// .text-right {
//   margin: 0 5% 0 0;
//   float:right;
// }
//
//
//     .text {
//         font-family: $philly-sans;
//         position: relative;
//         padding:10px 20px 1px;
//         border-radius: 7px;
//           max-width: 500px;
//     }
//
//     .text p {
//       color: #eee;
//       font-weight: 600;
//       font-size: 22px;
//       // text-shadow: 0 0 5px rgba(0,0,0,1);
//       line-height: 1.5;
//       -webkit-font-smoothing: antialiased;
//       text-rendering: optimizeLegibility;
//     }
//
//     .main-head {
//         padding-top: 25vh;
//         max-width: 800px;
//         text-align: center;
//         padding-left: 50px;
//         padding-right: 50px;
//         @include mobile {
//             padding: 0;
//             max-width: none;
//         };
//
//         .head {
//             font-size: 28px;
//             @include mobile {
//                 font-size: 25px;
//                 line-height: normal;
//             };
//         }
//
//         .text {
//             font-size: 18px;
//         }
//     }
// }
