<div class="headerSection">

  <div class="headDisplay">
    <div class="subHead">
      For disabled adults who require constant care, the death of a parent can throw their lives into chaos.
    </div>
  </div>
</div>

<div class="section">
  <div class="container bodyContainer" alignment="true">
    <div class="row" alignment="true">
      <div class="col-md-6 col col-md-offset-3" alignment="true">
        <p><span class="dropCap">J</span>oann Clark and her daughter, Jessica, have been gingerly navigating the limbo between life and death as they discuss what will happen to Jessica after Joann is gone.</p>

        <p>Joann, 69, is not dying. But chronic obstructive pulmonary disease keeps her tethered to an oxygen tank 24 hours a day, and she has had three emergency hospitalizations in the past few years. She and Jessica, 35, <a href="http://www.ndss.org/Down-Syndrome/What-Is-Down-Syndrome/">who has Down syndrome</a>          and is also legally blind, know what's coming, sooner than later.</p>

        <div class="float-right med">
          <img class="img-fluid" src="http://media.philly.com/images/idd_clark03-a.JPG" alt="" width="100%/">
          <div class="containerPhotoCredit" alignment="true">MICHAEL BRYANT / Staff Photographer</div>
          <div class="containerPhotoCaption" alignment="true">Jessica Clark, lives with her mother, Joann, in Glen Mills. Jessica has Down syndrome and is worried what will happen to her after Joann is gone. </div>
        </div>

        <p>Jessica says her mom's first hospitalization was a terrifying wake-up call from the future. "I basically had a meltdown," says Jessica, an only child, who lives with her mother in Glen Mills. "I was crying and scared and nervous. I already lost
          my dad"&nbsp;— Jim Clark, who died suddenly in 2009 — "and I didn't want to lose my mom, too."</p>



        <p>The Clarks' surviving biological family is tiny, including only a aunt in her late 70s and three cousins busy raising kids in already full houses. Joann and Jessica don't think it would make sense for Jessica to squeeze in with them after Joann
          is gone.</p>

        <p>So they've been mulling other options.</p>

        <div class="subHead">&nbsp;'We're both sad'</div>

        <p>They have talked about Jessica staying put in their present home, which has three bedrooms, and inviting two girlfriends, who also have Down syndrome, to live with her. Relatives of all three would oversee operations and perhaps arrange for a
          kind of house mother to stay with the young women overnight, in case of an emergency. Their day activities would then be supervised by their current state-paid caregivers.</p>

          <div class="adUnitWrapper containerMedia containerInsertRight" alignment="true">
          <div class="adUnit" alignment="true">
          <div id="div-gpt-ad-mrec-21" alignment="true"><script alignment="true" type="text/javascript">// <![CDATA[
             	 	cX.callQueue.push(['invoke', function() {
                                  googletag.cmd.push(function() {
                                      googletag.display('div-gpt-ad-mrec-21');
                                  });
          		}]);
          // ]]></script></div>
          </div>
          </div>

        <p>Or maybe Jessica would live with a family friend they love very much. The Clarks have had preliminary, hopeful discussions with the friend, but they are taking it slowly. Their conversations are tender and painful, requiring everyone to imagine
          a world without Joann.</p>

          {% set setpart = "part4" %} {% set setsection = "section1" %} {% include "partials/scroll-gal.html" %}


        <!-- <p>Jessica tries not to dwell on the inevitable but she loses her resolve at bedtime, when she talks to her father in her prayers. She says she can sense him near.</p>

        <p>"I tell him to look over my mom and help me be a strong person because I am really worried about her," says Jessica. "If she leaves me, like he did, what am I, an orphan? I already lost one parent. I don't want to lose another one because that's
          not a good feeling right there."</p> -->

        <p>She and Joann are sitting in their cozy kitchen on this chilly weeknight, and Joann reaches across the table and holds her daughter's hand.</p>

        <p>"It breaks my heart when I hear her praying and I hate that Jess has got to live this way, worrying about this every night," says Joann. "I don't understand the powers that be and why things would be this way. I guess there's a reason for everything,
          but I don't know what it could be."</p>

        <p>Jessica leans her head on her mom's soft arm.</p>

        <p>"I guess you could say we're both sad," she says.</p>

        <p>Conversations like these play out every day in the homes of aging parents who know that their days of caring for their <a href="http://www.thearc.org/learn-about/intellectual-disability">intellectually and developmentally disabled adult children</a>          are numbered. After decades of fiercely advocating for their children's every need — from education and health care, to employment and housing and caretaking — parents must devise a plan for their children's well-being after they themselves
          are no longer here.</p>


        <p>Along the way, emotions can&nbsp;range&nbsp;from sadness to relief, worry to optimism, denial to acceptance as parents, children, siblings, and extended family contemplate what life might be like under a new arrangement.</p>

        {% set quote = ['I guess there’s a reason for everything, but I don’t know what it could be.','Joann Clark, mother of Jessica Clark'] %} {% include "partials/left-quote.html" %}



        <p>The Clarks' conversations these days might be difficult, but at least they're having them. That's not always the case for parents of children with intellectual and developmental disabilities, says Maureen Cronin.</p>

        <p>"They just can't get themselves to a place of really thinking it through and getting a plan together," says Cronin, executive director of the <a href="https://www.thearc.org/find-a-chapter/pennsylvania">Arc of Pennsylvania, the state chapter of The Arc</a>,
          the national advocacy organization for people with intellectual and developmental disabilities. "Parents can't imagine a world without their child — but they also can't imagine how their vulnerable son or daughter will survive without them."</p>

        <p>That's why, she says, it's common for many parents to say, "I want to die one day after my disabled child dies."</p>

        <p>"It sounds horrible, but those feelings are absolutely real," says Cronin, <a href="http://www.cerebralpalsy.org/about-cerebral-palsy/definition" target="_blank" rel="noopener noreferrer">whose own son, who had cerebral palsy</a> and a host of
          medical issues, died at age 4. The devastation she and her husband felt was accompanied by relief that they'd no longer worry how their boy would fare if they themselves passed away first. "Since the moment a parent learns a son or daughter
          is disabled, they're thinking about what will happen to that child after they're gone."</p>

        </div>
      </div>
      <div class="row" alignment="true">
        <div class="col imagebreak">
          <img class="img-fluid" src="http://media.philly.com/images/idd_clark03-09.JPG" alt="" width="100%/">
          <div class="containerPhotoCredit" alignment="true">MICHAEL BRYANT / Staff Photographer</div>
          <div class="containerPhotoCaption" alignment="true">Jessica works on an art project in a section of the basement that is reserved for craft making.</div>
        </div>
      </div>
      <div class="row" alignment="true">
        <div class="col-md-6 col col-md-offset-3" alignment="true">


        <div class="subHead">Ensuring one's&nbsp;safety</div>

        <p>Putting off a plan can create a crisis, says Larry Pace, an operations director at <a href="http://dbhids.org/" target="_blank" rel="noopener noreferrer">Philadelphia Behavioral Health and Intellectual disAbility Services.</a></p>

        <p>"Many parents keep their children with them in the family home for years and take care of them on their own. We don't even know these families exist until an emergency occurs," Pace says. The lone surviving, elderly parent dies, perhaps, or has
          become too frail or sick themselves to provide care. "Parents always think they have more time, until something happens. And then we have to rush to find a placement. It's far from ideal."</p>

          <div class="imagebreak float-right med">
            <div class="yt-name">Joann & Jessica Clark</div>
            <div class="yt-title">"She makes sure she takes care of me."</div>
            <div class="yt-container"><iframe class="yt-video" src="https://www.youtube.com/embed/ADqYS061P44?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" id="widget2"></iframe></div>
            <div class="containerPhotoCredit" alignment="true">RONNIE POLANECZKY / Staff Writer</div>
            <div class="containerPhotoCaption" alignment="true"></div>
          </div>


        <p>Adult children with intellectual and developmental disabilities can wind up with family unprepared to care for them. Or in a nursing home whose staff are unfamiliar with their complicated medical or behavioral diagnoses.</p>

        <p>Or, worse, they can fall victim to predators such as <a href="https://oig.ssa.gov/audits-and-investigations/investigations/sept9-weston-guilty-plea" target="_blank" rel="noopener noreferrer">Linda Weston, who coerced intellectually disabled adults into making her the payee of their Social Security </a>benefits.
          In return, she and a handful of conspirators subjected the vulnerable men and women to unspeakable abuse: chained captivity, beatings, neglect, forced prostitution, starvation, and death. <a href="http://www.philly.com/philly/news/20150910_Life_deal_for_woman_who_enslaved_disabled_adults_in_Tacony_basement.html"
            target="_blank" rel="noopener noreferrer">In 2015, Weston was sentenced to life plus 80 years in prison</a> for the atrocities she directed in what was dubbed the "Tacony House of Horror."</p>

            {% set quote = ['If you have an intellectual or developmental disability, you’re less likely to be believed.','Thomas Coleman, attorney'] %} {% include "partials/left-quote.html" %}


        <p>"Abuse is a very, very big concern," says <a href="http://www.tomcoleman.us/" target="_blank" rel="noopener noreferrer">California attorney Thomas Coleman</a>, author of "<a href="http://www.disabilityandabuse.org/survey/survey-report.pdf" target="_blank"
            rel="noopener noreferrer">Abuse of People with Disabilities: Victims and Their Families Speak Out</a>." The shocking 2012 report from the <a href="http://disabilityandabuse.org" target="_blank" rel="noopener noreferrer">Disability and Abuse Project</a>          found that 70 percent of all people with disabilities have been abused at some point in their lives. Those with intellectual or developmental disabilities are victimized at an even higher rate, Coleman says.</p>

        <p>"If you're in a wheelchair or blind, you can still scream or shout if you're being hurt," says Coleman, an attorney and disability rights advocate. "But if you have an intellectual or developmental disability, you're less likely to be believed
          if you complain, or you may be unable to complain. Those cases are especially hard to prosecute."</p>

        <p>No wonder some parents put off long-term planning for their disabled child's well-being. The anxiety about keeping them safe can be overwhelming.</p>





        <p>Elizabeth Bivens would prefer not think about it right now. At 93, she is healthy, mentally sharp, and still lives independently in her North Philly home with her great-niece, Vernetta Clark, 42, who is intellectually disabled. Vernetta was just three
          days old when her mother died. Bivens, then a widowed mother of four, took her in. Vernetta calls Bivens "Grandmom."</p>

        <p>"I've had her with me for a long time," says Bivens, whose children live close by. Other relatives are in frequent touch, stopping by for the big Sunday meals Bivens has been hosting for decades. "Vernetta is easy to be with. She's friendly and
          helpful. I want her to stay with family when I can't take care of her anymore."</p>

        <p>But nothing is in writing, and Bivens isn't getting any younger.</p>





</div>
</div>
<div class="row" alignment="true">
<div class="col imagebreak">
  <img class="img-fluid" src="http://media.philly.com/images/RS_1200x800_20171201_IDD_BIVENS03_b.jpg" alt="" width="100%/">
  <div class="containerPhotoCredit" alignment="true">MICHAEL BRYANT / Staff Photographer</div>
  <div class="containerPhotoCaption" alignment="true">Vernetta Clark, left, has lived  with her aunt Elizabeth Bivens, right, since she was 3 months old.</div>
</div>
</div>
<div class="row" alignment="true">
<div class="col-md-6 col col-md-offset-3" alignment="true">



        <p>On this day, Rachael Townes is visiting from the <a href="http://www.pfcsupports.org/" target="_blank" rel="noopener noreferrer">Partnership for Community Supports,</a> the agency that oversees Vernetta's participation in a nearby day program
          for adults with intellectual and developmental disabilities. For a little while now, Townes, a supervisor, has been gently coaxing Bivens to think more concretely about what will be best for Vernetta once Bivens can no longer care for her.</p>

        <p>Is it truly possible for a relative to care for Vernetta? she asks. Many of them have jobs, family responsibilities, or aging and health issues of their own. What about providing supports in the family home? she ventures. Or perhaps Vernetta can
          move into a community-living arrangement that's close enough that Vernetta's loved ones can see her often?</p>

        <p>"Well, I don't know," says Bivens slowly, as she looks lovingly at Vernetta, who gives her a huge, sweet smile.</p>

        <p>"Letting her go would be hard. I'm not ready for that yet."</p>

        <p>"I understand," says Townes sympathetically. "We'll keep working on this until we find something everyone is comfortable with. We still have some time."</p>

        <p>Across town, Arnold Korsin, 86, does not want his eventual death to be any more disruptive to his only child, Barry, 56, than it needs to be.</p>

        {% set quote = ['Letting her go would be hard. I\'m not ready for that yet.','Elizabeth Bivens, relative of Vernetta Clark'] %} {% include "partials/left-quote.html" %}



        <p>Barry has been profoundly disabled since the age of 14 months, when a misdiagnosed virus irreparably damaged his brain. He cannot speak, cannot walk unassisted (he will instead creep on his hands and knees), and waves his hands when he's happy.
          If he's down, he will neither eat nor smile. He functions at a toddler level and needs assistance with every area of his life.</p>

        <p>Barry lives with his widowed father, a retired schoolteacher and&nbsp;eye doctor, in their Northeast Philly home, where he receives around-the-clock care from a handful of longtime, attentive aides. When Korsin dies, Barry will continue to live
          in the house, his needs overseen by one of Korsin's former students, a middle-aged woman who, with Korsin, is Barry's co-guardian. The woman is like kin to the Korsin men, and she truly loves Barry.</p>

          <div class="adUnitWrapper containerMedia containerInsertRight" alignment="true">
            <div class="adUnit" alignment="true">
              <div id="div-gpt-ad-mrec-22" alignment="true">
                <script alignment="true" type="text/javascript">
                  // <![CDATA[
                  cX.callQueue.push(['invoke', function() {
                    googletag.cmd.push(function() {
                      googletag.display('div-gpt-ad-mrec-22');
                    });
                  }]);
                  // ]]>
                </script>
              </div>
            </div>
          </div>



        <p>"It will be upsetting enough to Barry to have me gone," says Korsin, recalling Barry's prolonged sadness when his mother died in 2012. "It would be awful for him to then have to move in with someone, and lose his home. I want his life to remain
          as stable as possible."</p>

        <p>Bernadette Doyle, 50, wishes the same stability for her aunt, Berniece Grossi, 70, who has Down syndrome. Berniece was cared for by her parents until she was 22, when&nbsp;her surviving parent died.&nbsp;She moved in with her sister and brother-in-law
          and lived with them for the next five decades.</p>

        <p>"They took wonderful care of her," says Doyle, 50, who lives in Oreland and has two grown children.</p>

        <p>"We saw each other all the time. We're a really close family."</p>

        <p>Last year, the caretaking sister was diagnosed with dementia, and the brother-in-law died shortly after. The sister&nbsp;has moved into an assisted living facility, and Doyle and her husband are moving&nbsp;Bernice into&nbsp;an addition they're
          building onto their home.</p>

        <p>"Bernice [and her sister] have been together forever; it's killing us that they'll be separated," says Doyle, whose own three siblings have been very involved in the decisions regarding their aunt, whom they adore. "We can't even bring ourselves
          to tell them what's happening. [When the time comes] we'll have the social worker do it."</p>

        <div class="subHead">A new need: A care plan</div>

        <p>It's doubtful that Berniece's parents, decades ago, ever thought that her care would one day fall to children not yet born when Berniece was diagnosed. But thanks to medical advances and increasingly nuanced understanding of intellectual and developmental
          disabilities, people like Bernice are living longer than their parents ever dreamed. And so are their parents.</p>

        <p>That's partly why Earl Chaney, 69, hasn't yet come up with a long-term plan for his intellectually disabled son, Max, 22, for when Chaney and his wife, Darnise Wilmore-Chaney, 62, are no longer here.</p>

        <p>"For so long our focus has been on Max"&nbsp;— who has autism — "and making sure he's settled and stable," says Chaney, who is retired. He and his wife recently moved Max into a community-living arrangement with another intellectually disabled
          young man and they are pleased with how well he is adjusting. "I feel like my wife and I will probably be around for another 30 or 40 years, so I think we have time."</p>

          {% set quote = ['They keep him safe, and they can explain to people that he has a disability. Someone will always have to be with him.','Earl Chaney, father of Max Chaney'] %} {% include "partials/left-quote.html" %}


        <p>Max has two brothers and a sister who are much older, and Chaney doesn't think it would be fair or possible for Max to live with them. At this point, Max's direct support workers know him well and are trained to redirect his behaviors, which can
          appear threatening to those who meet him for the first time.</p>

        <p>"Max does not look like there's anything 'wrong' with him," says Chaney, "so his behaviors can really set people back."</p>

        <p>When Max was 6, for example, he was fascinated by the shoes worn by a woman in a supermarket. So he got down on his knees and touched them. "That kind of behavior in a 6-year-old looks cute," says Chaney. "In a 22-year-old man, it can be disturbing.
          The older he gets, the more his behaviors might work against him."</p>

        <p>He worries that Max, unattended in the big world, might act odd around the wrong people and suffer because of it. <a href="http://www.philly.com/philly/columnists/ronnie_polaneczky/Parents-of-disabled-adults-horrified-by-attack-of-ShopRite-employee-.html"
            target="_blank" rel="noopener noreferrer">One need only remember what happened to Mark Smith, 40, this past June to know the worries have merit</a>. In June, Smith, who is intellectually disabled, was brutally sucker-punched on&nbsp;a Germantown
          street by teens who recorded the sickening assault and posted it on Facebook.</p>

        <p>"Max's support workers are with him all the time," says Chaney. "They keep him safe, and they can explain to people that he has a disability. Someone will always have to be with him."</p>

        <p>People like Max are fortunate to have family members thinking hard about their&nbsp;long-term well-being.&nbsp;For those who don't, like Norman Moore, 60, the going is dicey without the&nbsp;close advocacy of others.</p>

        <p>Born with intellectual disabilities to a violently alcoholic father and an abused mother unable to care for him, Moore was removed from his parents' Southwest Philly home as a toddler. He ricocheted in and out of terrible foster-care situations
          and, as an adult, was often homeless. Other times, he rented rooms in squalid boarding homes whose housemates were sketchy.&nbsp;By the time he was 44, Moore had never lived in one place for more than a few years.</p>

        <p>"People stole my money and clothes – everything," he says.</p>

        <div class="imagebreak float-right med">
          <div class="yt-name">Stephen Kinsey & Norman Moore</div>
          <div class="yt-title">"I love being in a family."</div>
          <div class="yt-container"><iframe class="yt-video" src="https://www.youtube.com/embed/51VUWxaYHhY?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" id="widget2"></iframe></div>
          <div class="containerPhotoCredit" alignment="true">JARED WHALEN / Staff</div>
          <div class="containerPhotoCaption" alignment="true"></div>
        </div>

        <p>His luck changed 18 years ago, when he moved in with State Rep. Stephen Kinsey (D., 201<sup>st</sup>) and his family (Kinsey, a single father, has four daughters). Back then, Kinsey was a supervisor at <a href="http://www.hhinc.org/" target="_blank"
            rel="noopener noreferrer">Horizon House, which provides supports and services</a> to people with intellectual and developmental disabilities. He was asked to oversee the creation of <a href="http://www.dhs.pa.gov/citizens/intellectualdisabilitiesservices/lifesharingandeverydaylivingoptions/"
            target="_blank" rel="noopener noreferrer">the organization's lifesharing program – an arrangement</a> in which disabled adults live with qualified, unrelated adults who provide support in their home. At any give time, about 1,450 life-sharing households exist in Pennsylvania.</p>



        <p>Moore, a Horizon House client, had developed a good relationship with Kinsey, and the men decided to try lifesharing. There&nbsp;were many ups and downs as Moore&nbsp;adjusted to living&nbsp;in a solid, stable household with rules and expectations
          and the Kinseys developed new ways to make room in their lives and hearts for Moore. Eighteen years later, they're as deeply entwined as any loving, caring family would be.</p>

        <p>"Steve's like my brother," says Moore simply.</p>

        <p>"He's ours," says Kinsey.</p>

      </div>
    </div>
    <div class="row" alignment="true">
      <div class="col imagebreak">
        <img class="img-fluid" src="http://media.philly.com/images/RS_1200x800_20171129_idd_kinsey_2a.jpg" alt="" width="100%/">
        <div class="containerPhotoCredit" alignment="true">JARED WHALEN / Staff</div>
        <div class="containerPhotoCaption" alignment="true">State Rep. Stephen Kinsey and Norman Moore, who has lived with Kinsey and his family for 18 years as part of the life-sharing program.</div>
      </div>
    </div>
    <div class="row" alignment="true">
      <div class="col-md-6 col col-md-offset-3" alignment="true">


        <div class="subHead">'I would be like other girls'</div>

        <p>Back in Glen Mills, Joann and Jessica Clark are winding up their evening on a hopeful note. Joann asks Jessica what she thinks life will be like once Joann is gone.</p>

        <p>"Well, at first I'll be scared and nervous," she says. "But then I think I'll be OK."</p>

        {% set box = ['To learn more about lifesharing','Contact <a href="http://www.dhs.pa.gov/citizens/intellectualdisabilitiesservices/lifesharingandeverydaylivingoptions/" target="_blank">the Department of Human Services/Office of Developmental Programs</a> at <a href="tel:+1-888-565-9435">1-888-565-9435</a> / <a href="tel:+1-866-388-1114">1-866-388-1114 (TTY)</a> or email <a href="mailto:RA-customerservice@pa.gov">RA-customerservice@pa.gov</a>.'] %} {% include "partials/box.html" %}


        <p>She describes the time she and some friends with Down syndrome participated in a program where they lived together in a shared apartment for a few days, to see what living away from home might be like. The girls cooked, cleaned, and did laundry.
          Jessica hated scrubbing the bathroom floor, she says, but she got an unexpectedly intriguing vision of what a different kind of life might look like.</p>

        <p>"I felt a little bit excited," she says. "I would be like other girls, living with her girlfriends."</p>

        <p>"I have no doubt you'd be fine. You could even use the&nbsp;stove&nbsp;if you were careful," says Joann, explaining that Jess is confident using the toaster and microwave but has a hard time loading and unloading the oven.</p>

        <p>The task requires the use of both hands, but Jess favors her right hand over her left. So there have been some dropped cookie trays over the years.</p>

        <p>"We can work on that," she tells her daughter. "We still have time."</p>


        <p>&nbsp;</p>
      </div>
    </div>
  </div>
</div>
