<div class="headerSection">
  <div class="headDisplay">
    <div class="subHead">
      “You can’t talk about community integration without talking about employment,” says an advocate for adults with disabilities.
    </div>
  </div>
</div>

<div class="section">
  <div class="container bodyContainer" alignment="true">
    <div class="row" alignment="true">
      <div class="col-md-6 col col-md-offset-3" alignment="true">
        <p>Three years ago, Lisa and Dan Heppard were stunned to learn that the IQ of their son, Eric, who has autism, was higher than they'd known.</p>

        <p>"We always thought it was in the 70s," says Lisa. "But it was 81."</p>

        <p>"We were really surprised," says Dan.</p>

        <p>The unexpected score, however, derailed the Heppards' postgraduation plans for Eric, now 24, costing him a livelihood that had seemed perfect. He had been offered a job at a packaging business that offers supervised work for adult
          employees with intellectual or developmental disabilities (I/DD). But his IQ exceeded the cutoff set by federal labor laws permitting companies to pay less than the minimum wage to disabled employees.</p>

        <div class="adUnitWrapper containerMedia containerInsertRight" alignment="true">
          <div class="adUnit" alignment="true">
            <div id="div-gpt-ad-mrec-21" alignment="true">
              <script alignment="true" type="text/javascript">
                // <![CDATA[
                cX.callQueue.push(['invoke', function() {
                  googletag.cmd.push(function() {
                    googletag.display('div-gpt-ad-mrec-21');
                  });
                }]);
                // ]]>
              </script>
            </div>
          </div>
        </div>

        <p>Three years later, Eric remains unemployed and the Heppard family — which includes daughter Stephanie, 26 — is still reeling.</p>

        <p>"It sounds terrible to say this," says Lisa, out of earshot of Eric in the Heppards' Warminster home, "but I almost wish his IQ was lower. He'd have a job right now."</p>

        <p>Such are the untraditional wishes of parents caring for adult children like Eric,&nbsp;<a href="https://nccdd.org/welcome/what-is-i-dd.html" target="_blank" rel="noopener noreferrer">who have I/DD</a>&nbsp;and are considered high-functioning.
          He is verbal, able to manage his physical needs, can fix himself a bowl of pasta and find his favorite videos on YouTube.</p>

        <p>But he needs prompting when it comes to mastering tasks that require&nbsp;social interaction, consistent reasoning, and abstract thinking. If he is excited, he may&nbsp;forget to look both ways before&nbsp;crossing a street, for example. While
          he knows how to work an automatic retail-checkout machine (he scans the&nbsp;items; Lisa swipes the credit card for him), he has difficulty interacting with cashiers at checkouts that are manned.</p>




        {% set setpart = "part3" %} {% set setsection = "section1" %} {% include "partials/scroll-gal.html" %}

<div class="subHead">His talent emerges</div>

        <p>While enrolled in the special-education program at Bensalem High School, Eric underwent training through the <a href="https://www3.bucksiu.org/" target="_blank" rel="noopener noreferrer">Bucks County Intermediate Unit's "Spirit Program,</a>" designed
          to expose&nbsp;students with I/DD to different types of work activities. He especially loved doing piecework — so much so that he actually had to be reprimanded for skipping mandatory breaks. By the time he was 21, he was known as a motivated,
          enthusiastic worker, and was recommended for employment&nbsp;at&nbsp;<a href="http://apspackage.com/" target="_blank" rel="noopener noreferrer">Associated Production Services Inc. (APS),</a> a packaging business headquartered in Trevose. APS
          runs a handful of "sheltered workshops" — supervised workplaces for adult employees with I/DD.</p>

        <p>The Heppards were over the moon. At APS, their son would have a reliable schedule doing something he loved, pocket a regular paycheck and stay connected with school friends he'd met through Spirit. And Lisa, maybe, could return to work (she’s 49 and a registered nurse; Dan, 50, is a pharmacist).</p>

          <div class="imagebreak float-right med">
            <div class="yt-name">Eric & Lisa Hepperd</div>
            <div class="yt-title">"He wants to be independent."</div>
            <div class="yt-container"><iframe class="yt-video" src="https://www.youtube.com/embed/09udzNa2_Lk?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" id="widget2"></iframe></div>
            <div class="containerPhotoCredit" alignment="true">RONNIE POLANECZKY / Staff Writer</div>
            <div class="containerPhotoCaption" alignment="true"></div>
          </div>


        <p>"We were so happy," says Lisa, who belongs to a parents' group where the difficulty of finding employment for their children with I/DD is a frequent topic of discussion. "We thought it would be hard to get Eric a job, but then this fell into our
          lap."</p>




        <p>There's a reason it felt like a gift.</p>

        <p>Children with disabilities are federally entitled to an appropriate education until age 21. The services provide more than tailored academic or life-skills instruction: They give a child a place to be each day and a feeling of belonging; that's
          no small thing in a world that too often&nbsp;sees a person's disabilities before it sees the person.</p>

        <p>The school entitlement also gives parents peace of mind and a predictable schedule that helps a family function.</p>

        <p>After 21, though, the entitlement ends and it's on parents to find new ways to fill their grown children's days. The shift is so abrupt, parents grimly call it "falling off the cliff."</p>

<div class="subHead">Employment now an expectation</div>

        <p>In the past, employment for young men and women with I/DD was rarely seen as an option. But for those in Eric's generation especially, who've spent their lives hearing about their right to be integrated into broader society, employment is an expectation.</p>

        <p>"Steph has a job," Eric says plaintively, referring to his big sister; he envies her easy fit in the work world. "I want a job, too."</p>

        <div class="imagebreak float-right med">
          <img class="img-fluid" src="http://media.philly.com/images/IDD_HEPPARD03-d.JPG" alt="" width="100%/">
          <div class="containerPhotoCredit" alignment="true">MICHAEL BRYANT / Staff Photographer</div>
          <div class="containerPhotoCaption" alignment="true">Eric is a team favorite at his weekly game.</div>
        </div>


        <p>Ideally, high school administrators would begin working with children and their parents long before graduation to figure out what the next step might be.</p>

        <p>But the ideal is elusive, and not just in school districts that are underfunded or unenlightened. Even the most thoughtful school counselors and savviest parents have a hard time finding appropriate employment for adults like Eric: young men and
          women who can independently handle activities of daily living (like eating, bathing, toileting, walking, and dressing) but whose disabilities keep employers from seeing what they might contribute to a workplace.</p>

        <p>The numbers tell the story.</p>

        <p>Only 33.7 percent of working-age adults with disabilities are employed, compared with 72.9 percent of people without disabilities, according to the <a href="https://www.communityinclusion.org/" target="_blank" rel="noopener noreferrer">Institute for Community Inclusion, based at the University of Massachusetts</a>.
          For working-age adults who have intellectual and developmental disabilities, the number plunges to just 16 percent.</p>

        <p>No wonder the Heppards were giddy about what looked like a sure job offer. Their son had fallen off the cliff into a wide net that could hold him for years, maybe for life.</p>

        <p>The relief this can bring for parents of adult children with I/DD cannot be underestimated.</p>

        {% set quote = ['We’re stumbling around in the dark. It just seems like no one really wants to help Eric.','Lisa Heppard'] %} {% include "partials/left-quote.html" %}


        <p>Mothers and fathers whose children do not have disabilities expect their parenting years to be&nbsp;finite. They launch their kids, more or less, and watch as they stumble — elegantly, maybe artlessly, but inexorably — toward fully independent
          adulthood. Their children's need for them, God willing, recedes as the kids create lives, careers, and families of their own.</p>





        <p>For children with&nbsp;I/DD, though, that progression isn't assured. What can mitigate some of the uncertainty is a job, a toehold to anchor them in a world that doesn't readily see beyond what makes them different.</p>

        <p>Such were the stakes for the Heppards.</p>

<div class="subHead">Qualifying for job support</div>

        <p>But first they needed to have&nbsp;Eric's IQ tested to make sure he was eligible for the type of Medicaid waiver&nbsp;that would fund&nbsp;the job supports he'd need at APS. The waiver would act as an assurance to APS that Eric's hiring was&nbsp;in
          compliance with federal labor laws that permit sheltered workplaces to pay less than the minimum age to employees with disabilities.</p>

        <p>The old rule of thumb said that an IQ higher than 70 made a candidate with an I/DD ineligible for sheltered work in Pennsylvania. But in the last decade or so, there has been a slow shift to a holistic view of candidates — though a handful of
          states, including Pennsylvania, have been slow to embrace it, says Celia Feinstein.</p>

        <p>"Other states have moved to a more functional definition of developmental disability," says Feinstein, <a href="http://www.temple.edu/instituteondisabilities/" target="_blank" rel="noopener noreferrer">executive director of Temple University's Institute on Disabilities</a>.
          "For example, you may have an IQ of 90, but if you need support with your activities of daily living, you're probably as disabled as someone whose IQ is 68."</p>

        {% set box = ['Employment Among People with Intellectual and Developmental Disabilities','
        <ul>
          <li>Nationally, 34% of people with intellectual disabilities are employed.</li>
          <li>Of employed people with intellectual disabilities, 53% are employed competitively (i.e., work alongside people without disabilities at a market-driven wage); 38% in a sheltered workshop (work centers specifically for people with disabilities),
            and 9% in other settings (e.g., are self-employed).</li>
          <li>Of the adults with ID employed in a competitive setting, over half (62%) have been at their job for three years or more.</li>
          <li>However, only 26% of employed adults with ID have full-time jobs. Only a third were offered health insurance by their employer.</li>
        </ul>
        ','Source: “National Snapshot of Adults with Intellectual Disabilities in the Labor Force,” The Center for Social Development and Education at the University of Massachusetts','http://specialolympics.org/uploadedFiles/Sections/What_We_Do/Research_Studies_Description_Pages/Siperstein-Parker-Drascher-JVR-National-snapshot.pdf']
        %} {% include "partials/box.html" %}



        <p>Three years ago, that broad interpretation wasn't made in Pennsylvania, which proved to be Eric's undoing: testing showed that his&nbsp;high IQ rendered him ineligible for the APS program. Basically, he was not disabled enough to meet hiring and program
          criteria for sheltered employment.</p>

        <p>"The job fell through our fingers like sand," says Lisa, still sounding shocked. "Everyone said their hands were tied. Eric was devastated."</p>

        <p>In the years since, Lisa has worked intermittently with the <a href="http://www.dli.pa.gov/individuals/disability-services/ovr/pages/default.aspx" target="_blank" rel="noopener noreferrer">state's Office of Vocational Rehabilitation</a> and other
          agencies that might be able provide training support if they or Eric's family could find him a willing employer. But nothing has panned out.</p>

        <p>"We're stumbling around in the dark," says Lisa. "It just seems like no one really wants to help Eric."</p>

        <div class="subHead">The biggest obstacle: Society's view</div>


        <p>The Heppards' hair-pulling frustration is playing out during a tumultuous and intriguing time in the world of employment for people with I/DD.</p>

        <p>In years past, employment expectations for the Eric Heppards of the world were worse than low. They simply didn't exist.</p>

        <p>People with I/DD&nbsp;were typically warehoused for life in state institutions, invisible to the outside world. In the last few decades, <a href="http://www.preservepennhurst.org/default.aspx?pg=36" target="_blank" rel="noopener noreferrer">most of those institutions closed as investigations revealed systemic and horrific abuse and neglect of residents.</a></p>

        <p>Those residents, now living in the community, wound up congregated in day programs — some of them high-quality, some of them no more than stultified babysitting. That's still often the outcome for young adults like Eric: They may be growing up
          in their family homes instead of institutions, but after age 21 too many of them graduate from high school to the sofa.</p>

        <div class="adUnitWrapper containerMedia containerInsertRight" alignment="true">
          <div class="adUnit" alignment="true">
            <div id="div-gpt-ad-mrec-22" alignment="true">
              <script alignment="true" type="text/javascript">
                // <![CDATA[
                cX.callQueue.push(['invoke', function() {
                  googletag.cmd.push(function() {
                    googletag.display('div-gpt-ad-mrec-22');
                  });
                }]);
                // ]]>
              </script>
            </div>
          </div>
        </div>



        <p>They can languish there for years, their hard-earned social and behavioral skills regressing as their isolation from the world increases. How will they build lives that are less dependent on their aging families if they've got nothing to keep
          them busy, learning and productive? Even if they receive the Social Security Insurance that is available to those with disabilities, it's rarely enough to live on. An income is crucial.</p>

        <p>"You can't talk about community integration without talking about employment," says Cheryl Bates-Harris, <a href="http://www.ndrn.org/index.php" target="_blank" rel="noopener noreferrer">senior advocacy specialist with the National Disability Rights Network</a>.
          "Employment is key. Without money, you can't live independently in the community."</p>

        <p>The biggest hurdle to employment, she says, <a href="http://www.ndrn.org/images/Documents/Resources/Publications/Reports/Segregated-and-Exploited.pdf" target="_blank" rel="noopener noreferrer">is society's narrow view of what adults with I/DD can accomplish</a>.</p>

        <p>"Most people just don't expect them to go to work. So when they do think of employment for them, it's very limited," she says.</p>

        <p>"But I can tell you story after story of an employer hiring a person with a disability to sweep the floors, to give them something 'meaningful' to do with their days. But the next thing you know, they're operating equipment and machinery. There's
          so much more that people with disabilities can do once they're exposed to opportunities."</p>

        <div class="subHead">Tapping into 'personal genius'</div>

        <p>It requires creative thinking, says Susan Schonfeld, executive director of <a href="http://www.cisworks.org/">Community Integrated Services (CIS), a job-search and job-support agency</a> that helps people with disabilities find employment in startling
          ways.
        </p>

        <p>"We start with the assumption that everyone, disabled or not, has a personal genius and something to bring to the world. We ask: What is it and how do we tap into it?" says Schonfeld.</p>

        <p>CIS was able to place Michael Urtz, 27, who has <a href="https://fragilex.org/learn/" target="_blank" rel="noopener noreferrer">Fragile X syndrome</a>, in an internship at <a href="https://www.facebook.com/Havertown-Health-and-Fitness-380448029771/?rf=138898469524802"
            target="_blank" rel="noopener noreferrer">Havertown Health &amp; Fitness</a> while he was still enrolled at Haverford High School. At the time, the gym was using an outside service to supply and launder towels. Michael enjoyed unpacking, folding,
          and shelving the linens. As graduation approached, CIS made a proposal to gym owner Mark Rodney.</p>

        <div class="imagebreak float-right med">
          <div class="yt-name">Mark Rodney</div>
          <div class="yt-title">"Michael's a part of the crew."</div>
          <div class="yt-container"><iframe class="yt-video" src="https://www.youtube.com/embed/3zYn9CROuC0?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" id="widget2"></iframe></div>
          <div class="containerPhotoCredit" alignment="true">JARED WHALEN and MICHAEL BRYANT / Staff</div>
          <div class="containerPhotoCaption" alignment="true"></div>
        </div>


        <p>If CIS were able to find funding to install a commercial-grade washer and dryer at the gym, would Rodney hire Michael to handle the towel service on site?</p>

        <p>"We really liked Michael," says Rodney, who has owned the club since 1989 and has employed many young people he has met through the gym's volunteer work with Special Olympics. "We thought it was a great idea."</p>

        <p>In the seven years since, Michael has added maintenance tasks to his job — wiping down equipment, cleaning windows — and is paid minimum wage for his time: three hours a day, three days a week.</p>

        <p>"Michael knows he belongs," says his father, Gary Urtz, 65. "He can walk down any street in Havertown and people will say hello to him. He also has a sense of pride that he's working and has an income, just like other people."</p>

        <p>Urtz credits CIS and Rodney for Michael's happiness.</p>

      </div>
    </div>
    <div class="row" alignment="true">
      <div class="col col-md-6 imagebreak">
        <img class="img-fluid" src="http://media.philly.com/images/IDD_URTZ03-b.JPG" alt="" width="100%/">
        <div class="containerPhotoCaption" alignment="true">Josh Sommers, left, Michael Urtz's job coach, helps him clean the outside glass door at Havertown Health and Fitness, where Michael works.</div>
      </div>
      <div class="col col-md-6 imagebreak">
        <img class="img-fluid" src="http://media.philly.com/images/IDD_URTZ03-c.JPG" alt="" width="100%/">
        <div class="containerPhotoCaption" alignment="true">The regulars all know Michael at the small, friendly club.</div>
      </div>
    </div>
    <div class="row" alignment="true">
      <div class="col col-md-6">
        <img class="img-fluid" src="http://media.philly.com/images/IDD_URTZ03-3.JPG" alt="" width="100%/">
        <div class="containerPhotoCaption" alignment="true">Michael, who has Fragile X Syndrome, has worked at the club for seven years.</div>
      </div>
      <div class="col col-md-6">
        <img class="img-fluid" src="http://media.philly.com/images/IDD_URTZ03-4.JPG" alt="" width="100%/">
        <div class="containerPhotoCaption" alignment="true">Hi job duties include laundering towels and keeping the workout area clean.</div>
      </div>
      <div class="containerPhotoCredit" alignment="true">MICHAEL BRYANT / Staff Photographer</div>

    </div>
    <div class="row" alignment="true">
      <div class="col-md-6 col col-md-offset-3" alignment="true">

        <p>"A business owner can come up with a lot of reasons not to employ special people like Michael," says Urtz. "But it takes a special employer to come up with reasons <i>to</i> employ them."</p>

        <p>Businesswoman Emily Scott is cut from the same generous cloth. She owns <a href="http://compendiumboutique.com/" target="_blank" rel="noopener noreferrer">Compendium Boutique</a>, a jewel box of a shop in Swarthmore, and was all in when CIS asked
          if Julia Tyler could assist in the store. Julia, now 22, who has Down syndrome and lives in Wallingford with her parents, Karen and Jim, was a year from completing the special-needs program at Strath Haven High School. The school district hired
          CIS to work with the Tylers to figure out what Julia would do upon graduation.</p>

        <div class="imagebreak float-right med">
          <div class="yt-name">Emily Scott</div>
          <div class="yt-title">"People can really surprise you."</div>
          <div class="yt-container"><iframe class="yt-video" src="https://www.youtube.com/embed/A_FG_1h13_I?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="" id="widget2"></iframe></div>
          <div class="containerPhotoCredit" alignment="true">JARED WHALEN and MICHAEL BRYANT / Staff</div>
          <div class="containerPhotoCaption" alignment="true"></div>
        </div>

        <p>Julia is quiet, not very verbal, and moves slowly. Scott thought she would do fine unpacking boxes when the weekly shipment of new inventory arrived. Working with a job-support coach, Liv Helgesen, Julia also tagged and hung clothing. The tryout
          turned into a weekly position.</p>

        <p>But Helgesen, whose background is in art, wanted Julia to be creatively challenged. So she taught her how to silk-screen images that Julia creates — usually cutout geometric shapes — onto canvas. Scott sews the finished fabric into funky tote
          bags, pillow covers, table linens and the like, which are sold at Compendium, online and at craft fairs.</p>

        <p>The <a href="http://www.dancehappydesigns.com/" target="_blank" rel="noopener noreferrer">name of their joint endeavor: Dance Happy Designs</a>, because happy Julia loves to dance.</p>

        <p>"The dream for parents with a disabled child is that they'll be well-known, cared about, and looked after," says Jim Tyler, 60. "If we didn't have Compendium, we're pretty sure Julia would wind up in a sheltered workshop and just go stagnant."</p>

      </div>
    </div>
  </div>
  <div class="container-fluid" alignment="true">
    <div class="row" alignment="true">
      <div class="col col-md-4 imagebreak">
        <img class="img-fluid" src="http://media.philly.com/images/IDD_TYLER03-b.JPG" alt="" width="100%/">
        <div class="containerPhotoCaption" alignment="true">Julia Tyler, with help from her job coach, Liv Helgesen, spreads paint through silk-screen patterns in the basement studio of Compendium Boutique in Swarthmore.</div>
      </div>
      <div class="col col-md-4 imagebreak">
        <img class="img-fluid" src="http://media.philly.com/images/IDD_TYLER03-2.JPG" alt="" width="100%/">
        <div class="containerPhotoCaption" alignment="true">Julia uses a hair dryer to dry the paint on her silk-screened placemats.</div>
      </div>

      <div class="col col-md-4 imagebreak">
        <img class="img-fluid" src="http://media.philly.com/images/IDD_TYLER03-c.JPG" alt="" width="100%/">
        <div class="containerPhotoCaption" alignment="true">At the end of the shift, Julia leans in for a hug from Helgesen. They've been together for four years.</div>
      </div>
      <div class="containerPhotoCredit" alignment="true">MICHAEL BRYANT / Staff Photographer</div>
    </div>
  </div>
  <div class="container bodyContainer" alignment="true">
    <div class="row" alignment="true">
      <div class="col-md-6 col col-md-offset-3" alignment="true">


        <div class="subHead">Choice vs. 'informed choice'</div>


        <p>There's a national <a href="https://www.google.com/search?rlz=1C1GPCK_enUS539US539&amp;q=sheltered+workshops+in+pennsylvania&amp;sa=X&amp;ved=0ahUKEwil3b_Mz8PWAhUDaxQKHXGFCvkQ1QIIhgEoBw&amp;biw=1073&amp;bih=580" target="_blank" rel="noopener noreferrer">effort to phase out sheltered workshops</a>          — like those run by APS, where Eric had hoped to work — because the disabled people they employ are just as segregated from the greater community as disabled people once were in residential institutions. There's even a U.S. Supreme Court ruling,
          <a href="http://www.accessiblesociety.org/topics/ada/olmsteadoverview.htm" target="_blank" rel="noopener noreferrer">the 1999 Olmstead&nbsp;decision</a>, that says that people with disabilities should work, live, and receive services in the
          most integrated setting possible.</p>

        <p>That's caused a shrinkage in the number of United States sheltered workshops from 3,350 in 2010 to 2,638 in 2016. Currently, about 369,700 disabled adults are employed in sheltered settings, according to the Department of Labor.</p>

        <p>While many adults with I/DD, such as Michael Urtz and Julia Tyler, may be thriving in their community-based jobs, such arrangements don't work for everyone, <a href="https://www.disabilityscoop.com/2014/09/30/what-sheltered-workshops-close/19717/"
            target="_blank" rel="noopener noreferrer">say advocates for&nbsp;adults&nbsp;for whom sheltered work has been a godsend</a>. Their children feel safe from bullying, receive special services and enjoy kinship with coworkers who are similarly
          disabled.</p>

        <p>It's a matter of choice, which is fine, says CIS's Schonfeld.</p>

        <p>"But we tell parents, there's a difference between choice and informed choice," she says. "If someone chooses a sheltered workshop for their child because they think there's nothing else out there for them, that's not a real choice."</p>

        <p>At this point, Lisa and Dan Heppard would welcome any kind of work for their languishing son, sheltered or not, paid or unpaid. For three years now, they have patched together activities that they wish engaged him the way they know a regular job
          would.</p>

        {% set box = ['Legal Help','For free legal advice regarding state-run vocational-rehabilitation services in Pennsylvania, contact the <a href="http://www.equalemployment.org">Pennsylvania Client Assistance Program</a> at <a href="tel:+1-215-557-7112">215 557-7112</a>,
        an advocacy program administered by the Center for Disability Law &amp; Policy. For legal help in all other areas of employment for people with disabilities, contact <a href="https://disabilityrightspa.org/" target="_blank" rel="noopener noreferrer">Disability Rights Pennsylvania</a>        at <a href="tel:+1-215-238-8070">215 238-8070</a>.'] %} {% include "partials/box.html" %}

        <p>Lisa Heppard arranged volunteering work for him at Habitat for Humanity and the YMCA, but neither led to employment. Last spring, it looked as if another volunteer job, at a small thrift store, might turn into a full-time gig. With Lisa as his
          coach, Eric was learning how to tag and sort clothes, and was becoming more focused with each day, more confident and proud of his routine. As he got to know his coworkers and became known by regular shoppers, his self-esteem soared.</p>

          {% set quote = ['It’s not Eric’s fault he doesn’t have a job. It’s no one’s fault, I guess.','Lisa Heppard'] %} {% include "partials/left-quote.html" %}


        <p>"He loved it," Lisa&nbsp;says. "I could tell that, within a few more weeks or so, he'd be able to do the work on his own."</p>

        <p>But then the store was taken over by a thrift-store chain, whose management declined to&nbsp;offer Eric a job. Overnight, the Heppards&nbsp;watched Eric&nbsp;go&nbsp;from feeling excited about his future — lively&nbsp;and engaged — to negative
          and despondent. By midsummer, he'd sunk so low, his worried parents took him to the doctor, who prescribed an antidepressant to lift his mood.</p>

        <p>"He gets so down," says Lisa. "He says, 'I'm never going to get a job. Stephanie has a job, why not me? What's wrong with me? I'm a loser.' "</p>

        <p>Her voice cracks and she looks away.</p>

        <p>"Just talking about it makes me want to cry," she says. "It's not Eric's fault he doesn't have a job. It's no one's fault, I guess. But he's a hard, hard worker. He would be such a good employee if someone would give him a chance. I know it."</p>

      </div>
    </div>
  </div>
</div>
