{% set page = "page2" %}

{% extends "pagetemplate.html" %}

{% block styles %}
<!--removeIf(production)-->
<!--build:css min-files/styles.min.css-->
<link rel="stylesheet" href="css/styles.css">

<link rel="stylesheet" href="css/pages/page2.css">
<!--endbuild-->
<!--endRemoveIf(production)-->
{% endblock %}

{% block headercontent %}

<div class="headerIntro">
    <div class="backgroundImage" id="backgroundImage-1">
        <div class="backgroundImageCredit" alignment="true">MICHAEL BRYANT / Staff Photographer</div>
    </div>
    <div class="overlayText">
      <div class="series-headline">Falling Off the Cliff</div>
      <div class="series-deck">As disabled children become adults, parents face a crisis of help that will impact us all.</div>
      <div class="article-headline">Part 2: Finding Good Help</div>
      <div class="byline">
          <a href="rpolaneczky@phillynews.com">Ronnie Polaneczky / Staff Writer</a>
      </div>
      <div class="dateline">Dec. 4, 2017</div>
    </div>
</div>

{% endblock %}



{% block bodycontent %}
{% include "../nj-templates/bodytext/page2.html" %}
{% endblock %}



{% block jsfile %}
<!--removeIf(production)-->
<!--build:js min-files/main.min.js -->
<script src="js/pages/page2.js"></script>
<script src="js/main.js"></script>
<!-- endbuild -->
<!--endRemoveIf(production)-->
{% endblock %}
