@import '../philly-styles/values';




#backgroundImage-1 {
    background-image: url("http://media.philly.com/images/idd_day1_f.jpg");
    background-position: left 50% top 79px;
    @include tablet {
        background-position: left 50% top 49px;
        background-size: contain;
    }
}



.article-headline {
  border-bottom:8px dotted $idd-day1;
  padding-bottom: 10px;
  display: inline-block;
}

.scroll-gal .text {
    background-color: $idd-day1-tran;
}

.box-headline {
  color: $idd-day1;
}

.breakout {
  background-color: $idd-day1;
}

.footer {
  background-color: $idd-day1;
}

.subHead {
  color: $idd-day1;
}

.containerQuoteText {
  color: $idd-day1;
}
