</div>
</div>
</div>
<div class="container-fluid breakout" alignment="true">
  <div class="row" alignment="true">
    <div class="col-md-5 col col-md-offset-1" alignment="true">
      <h3>Who is Waiting?</h3>
      <p>In August 2017, 13,597 individuals were on the waiting list. Most were in the Critical category, indicating that services were needed within one year.</p>
      <div class="ct-chart-1 ct-perfect-fourth"></div>
    </div>
    <div class="col-md-5 col" alignment="true">
      <h3>&nbsp;</h3>
      <p>In August 2017, 18% of the individuals on the waiting list had caregivers over age 60 (n=2,422). Most of these were in the critical category (n=1,701). Percentages in the bar chart are based on the total number on the waiting list.</p>
      <div class="legend">
        <div><span class="legend-a">&nbsp;</span> Caregiver <60 </div>
        <div><span class="legend-b">&nbsp;</span> Caregiver 60+ </div>
      </div>
      <div class="ct-chart-2 ct-perfect-fourth"></div>

    </div>
  </div>
</div>
<div class="container bodyContainer" alignment="true">
  <div class="row" alignment="true">
    <div class="col-md-6 col col-md-offset-3" alignment="true">
