<div id="nav" class="footertabs">
  <div class="part {% if page == 'page1' %}selected{% endif %}" id="part-1">
    <a data-link-type="“invnav-bottom”" href="http://www.philly.com/philly/news/crime/philly-undercover-gangster-part-1.html">
      <div class="pubdate">Part 1</div>
      <div class="name">A Crisis for the Disabled</div>
    </a>
  </div>
  <div class="part {% if page == 'page2' %}selected{% endif %}" id="part-2">
    <a data-link-type="“invnav-bottom”" href="http://www.philly.com/philly/news/crime/philly-undercover-gangster-part-2.html">
      <div class="pubdate">Part 2</div>
      <div class="name">Finding Good Help</div>
    </a>
  </div>
  <div class="part {% if page == 'page3' %}selected{% endif %}" id="part-3">
    <a data-link-type="“invnav-bottom”" href="http://www.philly.com/philly/news/crime/philly-undercover-gangster-part-3.html">
      <div class="pubdate">Part 3</div>
      <div class="name">Finding Work</div>
    </a>
  </div>
  <div class="part {% if page == 'page4' %}selected{% endif %}" id="part-4">
    <a data-link-type="“invnav-bottom”" href="http://www.philly.com/philly/news/crime/philly-undercover-gangster-part-4.html">
      <div class="pubdate">Part 4</div>
      <div class="name">Life After Death</div>
    </a>
  </div>
</div>
