</div>
</div>
</div>

<div class="scroll-gal">
  <div class="image-scroll">
    <div class="scroll-img firstimg">
      <img src="http://media.philly.com/images/IDD_JUSTIN03-a.JPG">
    </div>
    <div class="scroll-img">
      <img src="http://media.philly.com/images/IDD_JUSTIN03-b.JPG">
    </div>
    <div class="scroll-img">
      <img src="http://media.philly.com/images/IDD_JUSTIN03-c.JPG">
    </div>
    <div class="scroll-img">
      <img src="http://media.philly.com/images/IDD_JUSTIN03-d.JPG">
    </div>

    <div class="scroll-img">
      <img src="http://media.philly.com/images/ssIDD_Ramos03-a.JPG">
    </div>
    <div class="scroll-img">
      <img src="http://media.philly.com/images/ssIDD_Ramos03-b.JPG">
    </div>
    <div class="scroll-img">
      <img src="http://media.philly.com/images/ssIDD_Ramos03-c.JPG">
    </div>
    <div class="scroll-img last">
      <img src="http://media.philly.com/images/ssIDD_Ramos03-4.JPG">
    </div>



  </div>
  <div class="text-scroll">
    <div class="text-section">
      <div class="text text-left">
        <p>Annette Scott, 70, had to remove her intellectually disabled son, Justin, 32, from a group home after his retinas detached as a result of head trauma no one claimed to have witnessed; he is now blind.</p>
      </div>
    </div>
    <div class="text-section">
      <div class="text text-left">
        <p>In his next placement, he broke his femur for reasons no one could explain.</p>
      </div>
    </div>
    <div class="text-section">
      <div class="text text-right">
        <p>"I said, 'Enough is enough,' and moved him home with me," says Scott, who lives in Mount Airy.</p>
      </div>
    </div>
    <div class="text-section"></div>
    <div class="text-section">
      <div class="text text-left">
        <p>Marisol and Jose Ramos, ages 45 and 46, live in Wissinoming Park and have two children with intellectual disabilities: Naomi, 21, and Justin, 14.</p>
      </div>
    </div>
    <div class="text-section">
      <div class="text text-right">
        <p>Naomi's impairments are profound: She's incontinent, doesn't speak, screams incessantly, constantly pings around the house, and can never be left alone. Justin is autistic but higher-functioning and easier to handle than his sister. The stress
          of managing the kids hit its nadir when Marisol suffered a stroke.</p>
      </div>
    </div>
    <div class="text-section">
      <div class="text text-left">
        <p>Relief came only when Naomi finally received Medicaid-funded services, for which there is a years-long waiting list, allowing the Ramoses to hire help. For the first time since their daughter was born, they were sleeping through the night.</p>
      </div>
    </div>
    <div class="text-section"></div>
  </div>
</div>
<div class="containerPhotoCredit creditscroll" alignment="true">SOURCE:2017-18 Pennsylvania Interscholastic Athletic Association<br>JON SNYDER and GARLAND POTTS / Staff</div>

<div class="container bodyContainer" alignment="true">
  <div class="row" alignment="true">
    <div class="col-md-8 col col-md-offset-2" alignment="true">
