{% include "partials/shell/head.html" %} {% block styles %}{% endblock %} {% block headercontent %}{% endblock %}



<!-- <div id="series-nav">
  <div class="part-nav {% if page == 'page1' %}selected{% endif %}" id="part-1"><span>Part 1: A Crisis for the Disabled</span></div>
  <div class="part-nav {% if page == 'page2' %}selected{% endif %}" id="part-2"><span>Part 2: Finding Good Help</span></div>
  <div class="part-nav {% if page == 'page3' %}selected{% endif %}" id="part-3"><span>Part 3: Finding Work</span></div>
  <div class="part-nav {% if page == 'page4' %}selected{% endif %}" id="part-4"><span>Part 4: Life after death</span></div>
</div> -->

<div id="nav-top" class="nav-footer">
  {% include "partials/nav.html" %}
</div>
<div style="margin:0 auto; width:250px;padding: 50px 0 20px;" class="custom-social-share" alignment="true">&nbsp;</div>



{% block bodycontent %}{% endblock %}

<div class="container-fluid sourcebox" alignment="true">
  <div class="row" alignment="true">
    <div class="col-md-10 col col-md-offset-1" alignment="true">
      <div id="nav-bottom" class="nav-footer">
        <div class="nav-title-more">More in this series</div>
        <div class="nav-title-footer">Falling Off the Cliff</div>
        {% include "partials/nav.html" %}
      </div>

      <div class="credits">
        <span class="creditItem">
          <span class="title">Reporter:</span> Ronnie Polaneczky</span>
        <span class="creditItem"><span class="title">Editor:</span> Sandy Shea</span>
        <span class="creditItem"><span class="title">Visual editor:</span> Frank Wiese</span>
        <span class="creditItem"><span class="title">Design:</span> Jared Whalen</span>
        <span class="creditItem"><span class="title">Photography:</span> Michael Bryant</span>
        <span class="creditItem"><span class="title">Video:</span> Jared Whalen, Michael Bryant & Ronnie Polaneczky</span>
        <span class="creditItem"><span class="title">Graphics:</span>John Duchneskie & Jared Whalen</span>
        <span class="creditItem"><span class="title">Project Managers:</span> Ellen Dunkel & Emily Babay</span>
        <span class="creditItem"><span class="title">Copy Editing:</span> Gina Esposito </span>
        <span class="creditItem"><span class="title">Social Editor:</span> Ray Boyd </span>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid footer" alignment="true">
  <div class="row" alignment="true">
    <div class="col-md-10 col col-md-offset-1" alignment="true">
      <h3>How Can You Help?</h3>

      <p>Three bills authored by Pa. State Rep.Thomas Murt (R., Montgomery) address Pennsylvania's funding for I/DD services and enjoy broad bipartisan support but have languished in the House Finance Committee since February.</p>
      <ul>
        <li>HB 625 proposes a 0.5% tax on some insurance-policy premiums in Pennsylvania to fund waivers for developmentally disabled adults waiting for services and supports.</li>
        <li>HB 626 proposes an additional $0.04 tax on cigarettes sold in Pennsylvania. The tax would be imposed, levied, and collected in the same manner as the existing statewide cigarette tax. The bill would also establish the Adult Intellectual Disabilities
          and Autism Waiting List Restricted Account.</li>
        <li>HB 415 would eliminate the inheritance tax that is applied when assets are transferred from a deceased parent to a disabled child if the assets are placed into a special-needs trust established for the child.</li>
      </ul>
      <p>To request that these bills be given a hearing, contact State Rep. Bernie O'Neill (R., Bucks), chair of the House Finance Committee, at <a href="tel:+717-705-7170">717-705-7170</a> or email <a href="mailto:boneill@pahousegop.com" target="_top">boneill@pahousegop.com</a></p>
    </div>
  </div>
</div>


{% include "partials/recirc-box.html" %}

<div>{% include "partials/script-links.html" %}</div>
{% block jsfile %}{% endblock %} {% include "partials/shell/footer.html" %}
